* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    // place-items: center;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

.gn_main_route_view {
    min-height: 90vh;
    margin-top: 40px;
    margin-bottom: 30px;
}

.gn_title_main {
    display: block;
    padding: 5px 10px;

    h1 {
        color: $color-hover;
        font: {
            size: 1.7rem;
            family: 'texturina-bold'
        }
    }
}

.gn_main {
    display: grid;
    height: 100%;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // grid-template-rows: repeat(auto-fit, minmax(150px, 200px));

    margin: auto;
}